backports.functools-lru-cache @ file:///home/conda/feedstock_root/build_artifacts/backports.functools_lru_cache_1687772187254/work
Bottleneck @ file:///work/ci_py311/bottleneck_1676827011612/work
brotlipy==0.7.0
colorama @ file:///work/ci_py311/colorama_1676827038675/work
entrypoints @ file:///home/conda/feedstock_root/build_artifacts/entrypoints_1643888246732/work
exceptiongroup @ file:///home/conda/feedstock_root/build_artifacts/exceptiongroup_1688381075899/work
flit_core @ file:///home/conda/feedstock_root/build_artifacts/flit-core_1684084314667/work/source/flit_core
gmpy2 @ file:///work/ci_py311/gmpy2_1676839849213/work
importlib-metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1688754491823/work
importlib-resources @ file:///home/conda/feedstock_root/build_artifacts/importlib_resources_1689017639396/work
jupyterlab @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_1689253413907/work
mkl-fft==1.3.6
mkl-random @ file:///work/mkl/mkl_random_1682950433854/work
munkres==1.1.4
numexpr @ file:///croot/numexpr_1683221822650/work
pip==23.2.1
pipdeptree @ file:///home/conda/feedstock_root/build_artifacts/pipdeptree_1686940472558/work
pkgutil_resolve_name @ file:///home/conda/feedstock_root/build_artifacts/pkgutil-resolve-name_1633981968097/work
pooch @ file:///tmp/build/80754af9/pooch_1623324770023/work
pyOpenSSL @ file:///croot/pyopenssl_1690223430423/work
PyQt5-sip==12.11.0
PySocks @ file:///work/ci_py311/pysocks_1676822712504/work
scikit-learn @ file:///croot/scikit-learn_1684954695550/work
seaborn @ file:///work/ci_py311/seaborn_1676845747354/work
sip @ file:///work/ci_py311/sip_1676825117084/work
sphinx-rtd-theme==1.3.0
tomli @ file:///home/conda/feedstock_root/build_artifacts/tomli_1644342247877/work
torchaudio==2.0.2
torchvision==0.15.2
tqdm @ file:///croot/tqdm_1679561862951/work
triton==2.0.0
typing-utils @ file:///home/conda/feedstock_root/build_artifacts/typing_utils_1622899189314/work
wheel==0.38.4
